{:kotoba.app/id "cloud.itonami.isic-1101", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreie3gkoripcydmhchrvtj455e376aelkyu2qd2lsgzzdrusfazjoei", :kotoba.app/embed-url "ipfs://bafkreie3gkoripcydmhchrvtj455e376aelkyu2qd2lsgzzdrusfazjoei", :published {:archive "https://kotobase.net/ipfs/bafkreie3gkoripcydmhchrvtj455e376aelkyu2qd2lsgzzdrusfazjoei", :size 72392, :put-status 201, :get-status 200, :at "2026-08-15T13:31:06.271Z"}}
